$color-footer: #372E11;
$color-button: #FFE182;
$color-button--light: #EDEDED;
$color-ground: #FFFBEC;
$color-groun--form: #FFF8E1;

$next-step: false;

$text-color: #372E11;
$text-color--light: #FFFBED;
$text-color--form: #8E825C;
$text-color--rights: #B9B3B3;
$text-color--eng: #9B9B99;

$screen-sm: 360px;
$screen-md: 768px;
$screen-lg: 1366px;